@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Passion+One:wght@400;700;900&display=swap');

main{
    text-align: center;
    position: relative;  
    margin: 35px;
}

body{
    background:linear-gradient(91deg, rgba(16, 16, 201, 0.664), rgba(223, 23, 23, 0.836));
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 25px;
}



table{
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
}

thead{
    background-color: rgb(71, 70, 70);    
}

caption {
    font-family: "Passion One", sans-serif;
    font-size: 28px;

}

td, th {
    text-align: center;
    border: 3px solid white;
}

main > nav > section > a > img.img_menu{
height: 45px;
width: 45px;
border-radius: 50%;
margin: 10px;
box-shadow: 2px 2px 3.1px rgba(0, 0, 0, 0.425);
}

header {    
    background: linear-gradient(25deg,rgba(7, 153, 238, 0.521), rgba(255, 255, 255, 0.349));    
}

.logo {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.img_menu{
    margin-top: 6px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.555);
    box-sizing: border-box;
}

.img_menu:hover {
    border: 6px solid rgba(41, 41, 214, 0.705);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);
    transition: 0.3s;
    height: 60px;
    width: 60px;
}

main > div > p {
    text-indent: 3em; /*Distância no Parágrafo*/
    margin-bottom: 15px;
    line-height: 1.3; /*Espaçamento entre linhas*/
    flex: 1;
    align-items: flex-start; /* alinha no topo */
    gap: 15px; /* espaço entre texto e imagem */
    padding: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    width: 400px;
}

.abertura {
    display: flex;
    padding: 10px;
    
}

#visao {
    margin-top: 20px;
    font-family: "Passion One", sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;

}

#church {
    margin-top: 21px;
    text-align:right ;
    display: block;
    height: 160px;
    width: 120px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
}

#church:hover {
    height: 180px;
    width: 140px;
    border-radius: 10%;
    box-shadow: 3px 3px 2px yellow;
   
}

#pacote {
    margin: 30px;    
    display: flex;
    justify-content: center;
    align-items: flex-start; /* garante que fiquem alinhados pelo topo */
    gap: 20px; /* espaço entre nav e tabela, opcional */
}

#tabela {
    flex: 1;    
    display: flex;
    justify-content: center; /* centraliza na horizontal */
}


nav {
    margin-left: auto;
}

#instrumento {
    margin-top: 25px;
    display: flex;
    flex-direction: column; /* imagens em coluna */
    gap: 10px;
    
}

main > header > h1 {   
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    color: white;
}